<aside>
    <section id="create-post">
        <div class="cp-header">
            <fa-icon [icon]="faPlus"></fa-icon>
            <h3>create post</h3>
        </div>
        <div class="cp-body">
            <div id="cp-user">
            <app-user-badge></app-user-badge>
        </div>
            <div class="cp-form">
                <form action="">
                    <textarea name="post" id="post" cols="30" rows="10" placeholder="Write here..."></textarea>
                    <div class="cp-buttons">
                        <fa-icon [icon]="faImage" class="image-icon icon-interactive"></fa-icon>
                        <fa-icon [icon]="faArrow" class="arrow-icon icon-interactive"></fa-icon>
                    </div>
                </form>
            </div>
        </div>
    </section>
</aside>