<main>
  @if(post) {
    <app-post-box
    id="details-post"
    [post]="post"
    [user]="user"
    [isAuthenticated]="isAuthenticated"
    [likeBubbles]="likeBubbles"
    [prevLikedState]="prevLikedState"
    [prevSavedState]="prevSavedState"
    [showCopyPopup]="showCopyPopup"
    [copiedPostId]="copiedPostId"
    [activePopupId]="activePopupId"
    [showOptionsMenu]="showOptionsMenu"
    (likePost)="likePost($event)"
    (savePost)="savePost($event)"
    (sharePost)="sharePost($event)"
    (toggleOptionsMenu)="toggleOptionsMenu($event.postId, $event.event)"
    (closeOptionsMenu)="closeOptionsMenu()"
    (deletePost)="deletePost($event)"
></app-post-box>
  <hr />
  <div class="comment-form">
    <app-user-badge
      [username]="user?.username || ''"
      [userPfp]="user?.photoURL || ''"
      [uid]="post.uid || ''"
    ></app-user-badge>
    <form #form="ngForm" (ngSubmit)="comment(form)">
      <textarea
        name="commentContent"
        #commentContent="ngModel"
        ngModel
        id="commentContent"
        cols="30"
        rows="10"
        required
        placeholder="Your comment..."
      >
      </textarea>
      <div class="comment-buttons">
        <button type="submit" [disabled]="!form.valid">
          <fa-icon
            [icon]="faArrow"
            class="arrow-icon icon-interactive"
          ></fa-icon>
        </button>
      </div>
    </form>
  </div>

  @if(comments){
  <div class="comments">
    @for (comment of comments; track comment._id) {
    <div class="comment">
      <div class="comment-header">
        <app-user-badge
          [username]="comment.displayName || ''"
          [userPfp]="comment.userPfp || ''"
          [uid]="comment.uid || ''"
        ></app-user-badge>
        @if(isAuthenticated && comment.displayName === user?.username) {
        <fa-icon
          [icon]="faEllipsisH"
          id="faEllipsisH"
          class="icon-interactive"
          (click)="toggleOptionsMenu(comment._id, $event)"
        >
        </fa-icon>
        @if(activePopupId === comment._id) {
        <div
          class="options-menu"
          [class.active]="activePopupId === comment._id"
        >
          <div
            class="option-item"
            routerLink="/post/{{ post._id }}/comment/{{ comment._id }}/edit"
          >
            <fa-icon [icon]="faPenToSquare"></fa-icon>
            Edit
          </div>
          <div
            class="option-item delete"
            (click)="deleteComment(post._id, comment._id)"
          >
            <fa-icon [icon]="faTrash"></fa-icon>
            Delete
          </div>
        </div>
        } }
      </div>
      <div class="comment-content">
        <p>{{ comment.content }}</p>
      </div>
    </div>
    }
  </div>
  } }
</main>
