<aside>
    <section id="saved-posts">
        <app-user-badge id="user-info"></app-user-badge>
        <div class="sv-posts">
            <div class="sv-header">
                <fa-icon [icon]="faBookmark"></fa-icon>
                <h3>saved posts</h3>
            </div>
            <div class="sv-body">
                <div class="post sv-post">
                    <div class="upper-header">
                        <div id="sv-user">
                            <app-user-badge></app-user-badge>
                        </div>
                        <fa-icon [icon]="faXmark" class="icon-close icon-interactive"></fa-icon>
                    </div>
                    <div class="post-content">
                        <!-- check if there is an image -->
                        <p>TO BE DONE, NOT WORKED ON THIS YET!!!</p>
                    </div>
                    <div class="post-time">
                        <span>time</span>
                    </div>
                </div>
                <div class="post sv-post">
                    <div class="upper-header">
                        <div id="sv-user">
                            <app-user-badge></app-user-badge>
                        </div>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </div>
                    <div class="post-content">
                        <!-- check if there is an image -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                    </div>
                    <div class="post-time">
                        <span>time</span>
                    </div>
                </div>
                <div class="post sv-post">
                    <div class="upper-header">
                        <div id="sv-user">
                            <app-user-badge></app-user-badge>
                        </div>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </div>
                    <div class="post-content">
                        <!-- check if there is an image -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                    </div>
                    <div class="post-time">
                        <span>time</span>
                    </div>
                </div>
                <div class="post sv-post">
                    <div class="upper-header">
                        <div id="sv-user">
                            <app-user-badge></app-user-badge>
                        </div>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </div>
                    <div class="post-content">
                        <!-- check if there is an image -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                    </div>
                    <div class="post-time">
                        <span>time</span>
                    </div>
                </div>
                <div class="post sv-post">
                    <div class="upper-header">
                        <div id="sv-user">
                            <app-user-badge></app-user-badge>
                        </div>
                        <fa-icon [icon]="faXmark"></fa-icon>
                    </div>
                    <div class="post-content">
                        <!-- check if there is an image -->
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                    </div>
                    <div class="post-time">
                        <span>time</span>
                    </div>
                </div>
            </div>
        </div>

    </section>
</aside>