<main>
  <div class="profile-page">
    <div class="profile-container">
      <app-user-badge
        [username]="username"
        [userPfp]="userPfp"
        id="user-info-profile"
      ></app-user-badge>
      @if(userProfile){
      <button class="edit-profile" routerLink="/profile/{{user?.uid}}/edit">edit</button>
      }
    </div>

    <div class="flow-options">
      <span
        id="view-posts"
        (click)="postFlow()"
        [appFlowHighlight]="flow === 'posts'"
      >
        posts
      </span>
      @if(userProfile){
      <span
        id="view-saved"
        (click)="postSaved()"
        [appFlowHighlight]="flow === 'saved'"
      >
        saved
      </span>
    }
    </div>

    <hr />

    <div class="profile-flow">
      @if (flow === 'posts') { @if (isLoading) {
      <div class="loading">Loading saved posts...</div>
      } @else if (posts.length === 0) {
      <div class="no-posts">
        <p>No posts yet</p>
      </div>
      } @else {
      <div class="flow">
        @for (post of posts; track post._id) {
          <app-post-box
          id="profile-post"
          [post]="post"
          [user]="user"
          [isAuthenticated]="isAuthenticated"
          [likeBubbles]="likeBubbles"
          [prevLikedState]="prevLikedState"
          [prevSavedState]="prevSavedState"
          [showCopyPopup]="showCopyPopup"
          [copiedPostId]="copiedPostId"
          [activePopupId]="activePopupId"
          [showOptionsMenu]="showOptionsMenu"
          [userProfile]="userProfile"
          (likePost)="likePost($event)"
          (savePost)="savePost($event)"
          (sharePost)="sharePost($event)"
          (toggleOptionsMenu)="toggleOptionsMenu($event.postId, $event.event)"
          (closeOptionsMenu)="closeOptionsMenu()"
          (deletePost)="deletePost($event)"
        ></app-post-box>
        }
      </div>
      } } @else {
      <div class="saved">
        @if (isLoading) {
        <div class="loading">Loading saved posts...</div>
        } @else if (posts.length === 0) {
        <div class="no-posts">
          <p>No saved posts yet</p>
        </div>
        } @else {
        <div class="flow">
          @for (post of posts; track post._id) {
          <app-post-box
            id="profile-post"
            [post]="post"
            [user]="user"
            [isAuthenticated]="isAuthenticated"
            [likeBubbles]="likeBubbles"
            [prevLikedState]="prevLikedState"
            [prevSavedState]="prevSavedState"
            [showCopyPopup]="showCopyPopup"
            [copiedPostId]="copiedPostId"
            [activePopupId]="activePopupId"
            [showOptionsMenu]="showOptionsMenu"
            (likePost)="likePost($event)"
            (savePost)="savePost($event)"
            (sharePost)="sharePost($event)"
            (toggleOptionsMenu)="toggleOptionsMenu($event.postId, $event.event)"
            (closeOptionsMenu)="closeOptionsMenu()"
            (deletePost)="deletePost($event)"
          ></app-post-box>
          }
        </div>
        }
      </div>
      }
    </div>
  </div>
</main>
