<main>
    <section id="main-flow">
        <div class="post">
            <div class="upper-header">
                <app-user-badge></app-user-badge>
                <div class="post-time">
                    <span>time</span>
                </div>
            </div>
            <div class="post-box">
                <div class="post-content">
                    <!-- check if there is an image -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                </div>
                <div class="post-actions">
                    <fa-icon [icon]="faShare"></fa-icon>
                    <fa-icon [icon]="faComment"></fa-icon>
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <fa-icon [icon]="faBookmark"></fa-icon>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="upper-header">
                <app-user-badge></app-user-badge>
                <div class="post-time">
                    <span>time</span>
                </div>
            </div>
            <div class="post-box">
                <div class="post-content">
                    <!-- check if there is an image -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                </div>
                <div class="post-actions">
                    <fa-icon [icon]="faShare"></fa-icon>
                    <fa-icon [icon]="faComment"></fa-icon>
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <fa-icon [icon]="faBookmark"></fa-icon>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="upper-header">
                <app-user-badge></app-user-badge>
                <div class="post-time">
                    <span>time</span>
                </div>
            </div>
            <div class="post-box">
                <div class="post-content">
                    <!-- check if there is an image -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                </div>
                <div class="post-actions">
                    <fa-icon [icon]="faShare"></fa-icon>
                    <fa-icon [icon]="faComment"></fa-icon>
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <fa-icon [icon]="faBookmark"></fa-icon>
                </div>
            </div>
        </div>
        <div class="post">
            <div class="upper-header">
                <app-user-badge></app-user-badge>
                <div class="post-time">
                    <span>time</span>
                </div>
            </div>
            <div class="post-box">
                <div class="post-content">
                    <!-- check if there is an image -->
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptates.</p>
                </div>
                <div class="post-actions">
                    <fa-icon [icon]="faShare"></fa-icon>
                    <fa-icon [icon]="faComment"></fa-icon>
                    <fa-icon [icon]="faHeart"></fa-icon>
                    <fa-icon [icon]="faBookmark"></fa-icon>
                </div>
            </div>
        </div>
        
    </section>
</main>