/* main */
#main-flow{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1%;
    padding-right: 15%;
    width: 650px;
}
.post{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 40px;
    padding: 20px;
}
.upper-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.post-content{
    margin: 20px 0;
}
.post-content img{
    width: 100%;
    border-radius: 15px;
    margin-top: 15px;
}
.post-box{
    margin: 20px 0;
    background-color:#e3e3e3;
    border-radius: 15px;
    padding: 0 20px 20px 20px;
}
.post-actions{
    display: flex;
    justify-content: space-between;
}