<main>
    <section id="main-flow">
        @for (post of posts; track $index) {
           <div class="post">
            <div class="upper-header">
                <app-user-badge [username]="post.username" [userPfp]="post.userPfp" ></app-user-badge>
                <div class="post-time">
                    <span>{{post.date}}</span>
                </div>
            </div>
            <div class="post-box">
                <div class="post-content">
                    <!-- check if there is an image -->
                    <p>{{post.content}}</p>
                    @if(post.img) {
                        <img src="{{post.img}}" alt="img">
                    }
                </div>
                <div class="post-actions">
                    <fa-icon [icon]="faShare" class="share-icon icon-interactive"></fa-icon>
                    <fa-icon [icon]="faComment" class="comment-icon icon-interactive"></fa-icon>
                    <fa-icon [icon]="faHeart" class="heart-icon icon-interactive"></fa-icon>
                    <fa-icon [icon]="faBookmark" class="bookmark-icon icon-interactive"></fa-icon>
                </div>
            </div>
        </div>   
        }
    </section>
</main>