<main>
  <section id="main-flow">
    @if (!isAuthenticated) {
    <div class="auth-prompt">
      <p>Please login to interact with posts</p>
    </div>
    } @for (post of posts; track post._id) {
      <app-post-box
      [post]="post"
      [user]="user"
      [isAuthenticated]="isAuthenticated"
      [likeBubbles]="likeBubbles"
      [prevLikedState]="prevLikedState"
      [prevSavedState]="prevSavedState"
      [showCopyPopup]="showCopyPopup"
      [copiedPostId]="copiedPostId"
      [showEllipsisMenu]="false"
      (likePost)="likePost($event)"
      (savePost)="savePost($event)"
      (sharePost)="sharePost($event)"
    ></app-post-box>
    }
  </section>
</main>
