<main>
  <section id="login">
    <div class="login-box">
      <div class="login-header">
        <fa-icon [icon]="faUser"></fa-icon>
        <h1>Login</h1>
      </div>
      <div class="login-form">
        <form #form="ngForm" (ngSubmit)="login(form)">
          <div class="input-box">

           
            <label for="email">Email</label>
            <input
              type="email"
              name="email"
              id="email"
              placeholder="Email"
              required
              ngModel
              #email="ngModel"
            />

           
            <label for="password">Password</label>
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Password"
              required
              ngModel
              #password="ngModel"
            />

            <p id="login-call">
              <i>Don't have an account yet?</i>
              <span><a routerLink="/register">Register now</a></span>
            </p>

            <button type="submit" id="login-button">
              Login
            </button>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>
